

<button type="button" title="Add Department" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalDepartmentCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add DEPARTMENT
</button>


@Html.Partial("PartialDepartment/CreateDepartment")
@Html.Partial("PartialDepartment/DepartmentTable")
@Html.Partial("PartialDepartment/DepartmentUpdate")





<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="~/partialjs/Department.js"></script>

