<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Appointment Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/homepage.css">

</head>

<body>

    <header style=" background-color: #6c7b88;">
        <div class="container">
            <h1>View and explore more</h1>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Home">Profile</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">


                 
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User"
                            asp-action="Appoint">Appoint Schedule</a>
                    </li>


                  
                     <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User"
                            asp-action="studenthealthprofile">Health Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User"
                         asp-action="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="s1">
        <div class="container">
            <div class="schedule">
                <!-- Your appointment schedule content goes here -->
                <h2>Available Medicine</h2>
                <p>This is a placeholder for your appointment schedule content.</p>




            </div>
        </div>

    </section>











    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>



    $(document).ready(function () {
        margin();


        function margin() {

            $(".page-content").removeClass();
            $(".container-fluid").removeClass();
        }





    });

</script>
<style>
    .sidebar-wrapper {
        display: none;
    }

    .btn-width {
        padding: 10px 100px 10px 100px;

    }
</style>