

<button type="button" title="Create Category" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalCategoryCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add Category
</button>



@Html.Partial("PartialCategory/CreateCategory")
@Html.Partial("PartialCategory/CategoryTable")
@Html.Partial("PartialCategory/CategoryUpdate")






<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/partialjs/category.js"></script>


