<div class="modal fade" id="modalCategoryUpdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <div class="modal-body d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
        </div>
        <button type="button" id="modalCategoryUpdateClose" class="btn-close btn-light" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body categoryUpdate d-flex justify-content-center">
        <div>
          <div>

            <form id="updateCategoryForm">
              <div class="form-group">
                <label name="" class="control-label">Category Name</label>
                <input type="text" name="Categoryname" id="inputCategoryNameUpdate" class="form-control" required />
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="modal-body d-flex justify-content-center">
          <button type="button" class="btn btn-primary" id="updateCategory">Confirm</button>
        </div>
      </div>

    </div>
  </div>
</div>
<style>
   .modal-header{
    background-color: #7293c7;
    color: #ffffff;
    
  }
  .modal-title{
    font-size: 25px;
  }
 
</style>