<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>FRV COLLEGE Appointment</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/studentform.css" />

	
</head>

<body>
	
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				
				<div class="row">
					
					<div class="col-md-7 col-md-push-5">
						
						<div class="booking-cta">
							<h1>Schedule your Appointment</h1>
							<p>Scheduling an appointment for medication with your doctor is crucial for managing your health. 
							Contact your healthcare provider to set up a suitable date and time for discussing your medication needs and any related concerns.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<form>
								<div class="form-group">
									<span class="form-label">Address</span>
									<input class="form-control" type="text" placeholder="Enter your complete address">
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">First Name</span>
											<input class="form-control" type="text" placeholder="Enter Your First Name"   required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Middle Name</span>
											<input class="form-control" type="text" placeholder="Enter Your Middle Name" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Last Name</span>
											<input class="form-control" type="text" placeholder="Enter Your Last Name" required>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Course</span>
											<input class="form-control" type="text" placeholder="Enter Course" required>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Date</span>
											<input class="form-control" type="date" placeholder="Enter Date" required>
										</div>
									</div>
	
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Time</span>
											<input class="form-control" type="time" placeholder="Enter Time" required>
										</div>
									</div>
									<div class="form-btn">
										<button class="submit-btn">Check availability</button>
									</div>
									
								</div>
							
								</form>
								</div>

                                


								<!-- <div class="form-group">
									<span class="form-label">Last Name</span>
									<input class="form-control" type="text" placeholder="Enter your Last Name">
								</div> -->
								<!-- <div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Rooms</span>
											<select class="form-control">
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Adults</span>
											<select class="form-control">
												<option>1</option>
												<option>2</option>
												<option>3</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Children</span>
											<select class="form-control">
												<option>0</option>
												<option>1</option>
												<option>2</option>
											</select>
											<span class="select-arrow"></span>
										</div>
									</div>
								</div> -->
								
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
$(document).ready(function(){
 margin();
   
function margin(){

 $(".page-content").removeClass();
  $(".container-fluid").removeClass();
}

});

</script>
<style>
  .sidebar-wrapper{
    display: none;
  }
 
</style>