

<template id="card-container" >
<div class="schedules">
    <div class="card-body">

        <h5 style="margin-bottom: 15px;" class="card-title">Michael Jay Sinadjan</h5>



      <p style="margin-bottom: 0px;" class="card-text">Category : <span class="card-category">Penicilin</span></p>
      
      <p  style="margin-bottom: 0px;" class="card-text">Dosage &nbsp;&nbsp;&nbsp;: <span  class="card-dosage">500mg</span></p>
      <p   class="card-text">Stock &emsp;&emsp;: <span  class="card-stock">50</span></p>


        <a style="color:white;" type="button" class="btn btn-primary viewDesc" data-toggle="modal" data-target="#exampleModal">View Description</a>
    </div>
</div>
</template>

<div class="parent"></div>
