<button type="button" title="" class="btn btn-success" style="color: #ffffff; margin-bottom: 20px;" data-bs-toggle="modal"
    data-bs-target="#modalPhysicianCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add Physician
</button>

@Html.Partial("PartialPhysician/CreatePhysician")
@Html.Partial("PartialPhysician/PhysicianTable")
@Html.Partial("PartialPhysician/PhysicianUpdate")


@* gamit kaayu ni siya para maka pa display og value sa select option *@
<script src="~/lib/jquery/dist/jquery.js"></script>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/partialjs/Physician.js"></script>
