<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Appointment Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/karun.css">

</head>

<body>

    <header>
        <div class="container">
            <h1>Appointment Scheduler</h1>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Home">Home</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Appoint">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="ViewMed">Available Medicine</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="s1">
        <div class="container">
            <div class="schedule">
                <!-- Your appointment schedule content goes here -->
                <h2>Appointment Schedule</h2>
                <p>This is a placeholder for your appointment schedule content.</p>

                <div class="names">
                    <h5>Fill up Name</h5>
                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">First Name</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter First name"
                                class="form-control" required />
                        </div>
                    </div>



                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Middle Name</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter Middle name"
                                class="form-control" required />
                        </div>
                    </div>



                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Last Name</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter Last name"
                                class="form-control" required />
                        </div>
                    </div>


                </div>

                <div class="address">
                    <h5>Fill up Address</h5>
                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Province</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter Province"
                                class="form-control" required />
                        </div>
                    </div>



                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Municipality</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter Municipality"
                                class="form-control" required />
                        </div>
                    </div>



                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Barangay</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter Barangay"
                                class="form-control" required />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Purok</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter Purok"
                                class="form-control" required />
                        </div>
                    </div>


                </div>
                <div class="address">
                    <h5>Fill up Credentials</h5>
                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Birthdate</label>
                            <input type="date" name="Gmailaddress" id="inputUnit" class="form-control" required />
                        </div>
                    </div>



                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Email Address</label>
                            <input type="text" name="Gmailaddress" id="inputUnit" placeholder="Enter Email Address"
                                class="form-control" required />
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Select Gender</label>
                            <select name="Gender" class="form-select">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>


                </div>

                <div class="address">
                    <h5>Fill up Department, Course & Strand</h5>
                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            @* <label name="" class="control-label">Select Department</label> *@
                            <select id="Department" name="DepartmentId" class="form-select">
                                <option value="" disabled selected>Select a department</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">

                            <select id="Course" name="CourseStrandYearId" class="form-select">

                            </select>

                        </div>
                    </div>

                </div>

                <div class="address">
                    <h5>Appoint A Schedule Date</h5>
                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Select Date</label>
                            <input type="date" name="Birthdate" id="inputMedicineName" class="form-control" required />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label name="" class="control-label">Select Time</label>
                            <select id="" name="" class="form-select">

                            </select>

                        </div>
                    </div>




                </div>


                
                  <button type="button" class="btn btn-primary btn-width" id="createStudent" style="width: 100%;">Confirm</button>

             








            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        margin();

        function margin() {

            $(".page-content").removeClass();
            $(".container-fluid").removeClass();
        }

    });

</script>
<style>
    .sidebar-wrapper {
        display: none;
    }

    .btn-width {
       width: 1000px;

    }
</style>