<h1>Normal Range Data</h1>

<button type="button" title="Add Normal Range" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalNRCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add Normal Range
</button>



@Html.Partial("PartialNormalRange/CreateNormalRange")
@Html.Partial("PartialNormalRange/NormalRangeTable")
@* @Html.Partial("PartialNormalRange/NormalRangeUpdate") *@



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
     var selectedNR;
    var selectedNRId;
    var NRList = {};


    $(document).ready(function () {
     

     getNR();
     getUnit();
     displayNRData();



    function getNR() {
            $.ajax("../api/adminapi/getNR")
                .done(function (result) {
                   NRList = result;
                 //  console.log(result);
                    result.forEach(function (item) {
                  //   console.log(item);

                    });

                });
        }

    function getUnit() {
            $.ajax("../api/adminapi/getUnit")
                .done(function (result) {

                    document.querySelector("#catSelect").innerHTML = "";

                    var template = document.querySelector("template#NROptionTemplate");
                    var parent = document.querySelectorAll("#catSelect");


                    for (i = 0; i < parent.length; i++) {
                        result.forEach(function (item) {
                            var cloned = template.content.cloneNode(true);
                            cloned.querySelector("option").value = item.unitId;
                            cloned.querySelector("option").innerText = item.unitname;

                            parent[i].prepend(cloned);
                        });
                    }

                });

        }





        $("#createNR").click((e) => {

            console.log("yehey na click jyud ko");
            // console.log(equipname);

            var arrData = {}; //ayaw ni tan dug kani dre nga line
            var formelements = $("#createNRForm .form-group");

            //getting the data from the form
            var formInputs = $("#createNRForm").serializeArray();
            formInputs.forEach(function (item) {
                arrData[item.name] = item.value;
            });

           



                //AJAX ADD Equipment
                console.log(formInputs);
                $.ajax
                    ({
                        url: "../api/adminapi/AddNR",
                        type: "POST",
                        data:
                        {
                            addNR: arrData
                        },
                    })
                    .done(function () {

                        $("#createNRForm")[0].reset();
                        $("#modalNRCreate").modal("toggle");
                       
                       
                        getNR();
                        displaySavedProgress();
                       displayNRData();

                    });

          
           
        });



       function displayNRData() {
            $('#NRData').DataTable().destroy();
            if (!$.fn.DataTable.isDataTable('#NRData')) {
                $('#NRData').DataTable({
                    ajax: {
                        url: '../api/adminapi/getNR', // API endpoint to retrieve department
                        dataSrc: ''
                    },
                    columns:
                        [
                            { data: 'normalrangeId' },
                            { data: 'test' },
                            { data: 'minRange' },
                            { data: 'maxRange' },
                            { data: 'unitname' },
                            { data: 'minAge' },
                            { data: 'maxAge' },
                            { data: 'gender' },
                            {
                                data: 'normalrangeId',
                                render: function (data, type, row) {
                                    return btnAddNR(data);
                                }
                            },
                        ]
                });
            }
            getNR();
           
        }

        function btnAddNR(normalrangeId) {
            return "<center><a class='btn btn-success NRUpdate' data-normalrangeId=" + normalrangeId + "><i class='fa-solid fa-pen-to-square' style='color : #ffffff;'></i></a> | <a class='btn btn-danger NrDelete' data-normalrangeId=" + normalrangeId + "><i class='fa-solid fa-trash' style='color : #ffffff;'></i></a></center>"
        }

        





    
    
    








     function alertDeleteInfo() {
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
            )
        }


        function vol1() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Inputted name is already in the data',
            })
        }
        function alertError() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Input the necessary elements!',
            })
        }

        function displaySavedProgress() {
            Swal.fire({
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
            })

        }
    
    
    
    
    
    
    });//end of this function dont touch it



</script>

