<table id="DoctorData" class="display table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Doctor First Name</th>
                    <th>Doctor Last Name</th>
                    <th>Doctor Address</th>
                    <th>Doctor G-mail Account</th>
                    <th>Status</th>
                    <th>Action Button</th>
                </tr>
            </thead>
            <tbody></tbody>
</table>