 
 
 
  #navbar{
  position: sticky;
  top: 0;
  }


  header {
    background-color: #007BFF;
    padding: 10px;
    color: #fff;
  }

  .container {
    margin-top: 20px;
   
  }

  .schedule {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }

  .schedules{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    /* width: 18rem; */
  }


  @media (max-width: 576px) {
    .schedule {
      padding: 10px;
    }

    .schedule .row {
        flex-wrap: wrap;
    }
    
    .schedule .col-sm-3 {
        width: 100%;
        margin-bottom: 10px;
    }





    .schedules {
      padding: 10px;
      /* width: 31rem; */
    }

    .schedules .row {
        flex-wrap: wrap;
    }
    
    .schedules .col-sm-3 {
        width: 100%;
        margin-bottom: 10px;
    }




    
}

.names{
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
}
.address{
    margin-bottom: 25px;
    margin-top: 25px;
}


