<h1>Course Data</h1>

<button type="button" title="Create Time" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalCourseCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add Course
</button>



@Html.Partial("PartialCourse/CreateCourse")
@Html.Partial("PartialCourse/CourseTable")
@Html.Partial("PartialCourse/CourseUpdate")



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/partialjs/Course.js"></script>




