<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="~/css/login.css">
</head>

<body style="">
  <div class="container">
    <input type="checkbox" id="check">



    <div class="login form">
      <header>Login</header>
      <form action="#" id="signinForm">
        <input class="gmail" type="text" placeholder="Enter your email" required>
        <input class="password" type="password" placeholder="Enter your password" required>
        <a href="#">Forgot password?</a>
        @* <input asp-area="" asp-controller="Admin" asp-action="AdminStudent" type="button" class="button"
        value="Login"> *@
        <input type="submit" name="signin" id="signin" class="button" value="Log in" />

      </form>



      <div class="signup">
        <span class="signup">Don't have an account?
          <label for="check">Signup</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <header>Signup</header>
      <form action="#" id="signupForm">
        <input type="text" placeholder="Enter your email">
        <input type="password" placeholder="Create a password">
        <input type="password" placeholder="Confirm your password">
        <input type="button" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>



</body>

</html>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>



<script>
  $(document).ready(function () {
    margin();

    function margin() {

      $(".page-content").removeClass();
      $(".container-fluid").removeClass();
    }




    sessionStorage.clear()


    @* $("#signin").click(e => {
      e.preventDefault()
      console.log("na clicck lagi ko")

    var gmail = $(".gmail").val();
     var pass = $(".password").val();

      $.ajax({
        url: "../api/adminapi/getaccount",
        method: "POST",
        data: JSON.stringify({
          "gmail": $(".gmail").val(),
          "password": $(".password").val()
        }),
        contentType: "application/json",
        success: res => {

          console.log(res)
          console.log(res.AccFound)

            if (res ==) {
              sessionStorage.setItem("logged", true) *@
              window.location.href = "https://localhost:7165/Admin/AdminCategory"
            @* } else {
              alert("Account not found!")
            }

          },
          error: error => {
            console.error(error)
          }

      })
    }) *@




























  });//end of docuent ready

</script>
<style>
  .sidebar-wrapper {
    display: none;
  }
</style>