<div class="input-group rounded">
  <input type="search" name="Asearchbar"   id="AsearchText" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0 backer" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>

<template id="card-container" >
    <div class="card">
        <div class="card-body datecard">
            
            <h5 class="card-title">Card title</h5>
            

        </div>
    </div>
</template>
<div class="parent"></div>


      
       


<style>
  @* .parent{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  #card-container{
  scroll-snap-align: start;
  } *@
   
   
  .card{
    margin-bottom: 20px;
  }

  .rounded{
     margin-bottom: 20px;
 
  }

  .backer{
    background-color: rgb(63, 99, 130);
    color: aliceblue;
  }
   
</style>